{% extends './layout.html' %}
{% block title %} Modificar {% endblock %}
{% block body %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card rounded-3">
                    <div class="card-body p-4">

                        <!-- Titulo -->
                        <h4 class="text-center my-3 pb-3">Modifica tu reserva</h4>
                    
                        <!-- formulario -->
                        <form class="row" action="/modificar/{{reserva.id}}" method="POST">

                            <!-- numero de mesa -->
                            <div class="col-4">
                                <div class="form-outline">
                                    <label for="mesa" class="form-label">Numero de mesa</label>
                                    <input type="text" id="mesa" name="mesa" class="form-control" placeholder="XX" value="{{reserva.mesa}}">
                                </div>
                            </div>

                            <!-- nombre -->
                            <div class="col-4">
                                <div class="form-outline">
                                    <label for="username" class="form-label">Nombre</label>
                                    <input type="text" id="username" name="username" class="form-control" placeholder="Escribe tu nombre" value="{{reserva.username}}">
                                </div>
                            </div>

                             <!-- cantidad de personas -->
                             <div class="col-4">
                                <div class="form-outline">
                                    <label for="cantidad_personas" class="form-label">Cantidad de personas</label>
                                    <input type="text" id="cantidad_personas" name="cantidad_personas" class="form-control" placeholder="XX" value="{{reserva.cantidad_personas}}">
                                </div>
                            </div>

                            <!-- boton guardar -->
                            <div class="col-6">
                                <button type="submit" class="button-custom">Guardar</button>
                            </div>
                             <!-- boton cancelar -->
                             <div class="col-6">
                                <a href="{{ url_for('index') }}" class="btn button-secondary">Cancelar</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="get_flashed_messages">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dimissible alert-fixed fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

{% endblock %}